<!-- se extiende la plantilla genérica-->
{% extends "generica.html" %}


{% block content %}

<style>

  tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div style = "padding: 1%; box-shadow: 1px 1px 5px rgb(100, 99, 99);float: left;background-color:rgba(255, 255, 255, 0);right: 0%; width:20%;height: 100%;">
  <div style="width: 100%;height: 3%;"></div>
  <h2 style="font-family:arial; color: rgb(31, 62, 146);"><b>{{user.first_name}} {{user.last_name}}</b></h2>
  <button class="btn btn-outline-dark js-tooltip" type="submit" onclick="location.href='{% url 'edit_profile' %}'">Perfil </button>
  <button class="btn btn-outline-dark js-tooltip" type="submit" onclick="location.href='{% url 'Logout' %}'">Cerrar Sesión </button>

  <div style="width: 100%;height: 3%;"></div>
  <div class='search'>
    <form method="get" >         
      <div id ='search_input' style="padding: 5%;padding-left: 0%;">
        
          
          <input type="text" class="form-control" placeholder="Buscar ..." name ='buscar' value="{{request.GET.buscar}}">
          <div style="width: 100%;padding-top: 5%;">
          
            <button class="btn btn-dark js-tooltip" type="submit" >Buscar proyecto</button>
          </div>
        </div>
             
    
    
    </form>
    </div> 
    <div style="padding: 1%;width: 100%;"></div>
    <div style="width: 100%;height: 3%;"></div>

  <form method="POST" >
    <div style="padding: 1%;padding-left: 0%;width: 100%;"></div>           
    <div style="padding: 5%;padding-left: 0%;background-color: rgba(255, 255, 255, 0.26);">
      <h4 style="text-align: center;">Proyecto Nuevo</h4>
        <!-- {%if make%}
        {{ form.as_p }}
        <input id="slide" type="hidden" name="slide" value='{{slideSel}}'>
        {% csrf_token %}
        <h5>Placa virtual: <a href="{% url 'Catalogo' %}">{{slideSel}}</a></h5> 
        <div style="width: 100%;padding-left: 5%;padding-bottom: 5%;"> 
          <button class="btn btn-dark js-tooltip" type="submit">Crear proyecto</button>
        </div>   
          {%else%}
          <h5>Placa virtual:  <a href="{% url 'Catalogo' %}">Sin placa</a></h5> 
          {%endif%} -->
          {{ form.as_p }}
          {% csrf_token %}
          <div style="width: 100%;padding-left: 5%;padding-bottom: 5%;"> 
            <button class="btn btn-dark js-tooltip" type="submit">Crear proyecto</button>
          </div>   
            

        

    </div>  
    
</form>


 
<!-- <div style="width: 100%;height: 3%;"></div>
<div style="padding: 1%;background-color: rgb(77, 76, 76);width: 100%;"></div> -->
</div>
 <div style="position: relative;left: 2%;padding-right: 2%; width: 75%;overflow-y: scroll;height: 100%;background-color: rgb(255, 255, 255);">
    
  
  <div style="position: relative; width: 100%; height: 7%">
    <h1 style="text-align: center;">Tus proyectos</h1>
  
 </div> 
 <div class="pagination" style="width: 100%; justify-content: center;">
  <span class="step-links" >
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Primera</a>
          <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}

      <span class="current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
      {% endif %}
  </span>
</div>  
    <div style="position: relative; width: 100%;"> 
    <ul>
      
      {%load static%} 
      <!-- {%for project in project_list%}
      <div style=" float: left;padding: 2%;border-radius:10px;width: 32%;" >
        <h4  style="text-align: center;">{{project.name}}</h4> 
      </li>
      <div class="imgbox" >
        <p><img src="{{project.slide.image.url}}" style="width: 100%;box-shadow: 1px 1px 10px rgb(100, 99, 99);border-radius:10px"></p> 
      </div>
      <button class="btn btn-primary js-tooltip" type="submit" onclick="location.href='{{ project.get_absolute_url }}'">Abrir</button>
      <button class="btn btn-outline-danger js-tooltip" type="submit" onclick="location.href='/deleteProject/{{project.id}}'">Eliminar</button>
      
      
      

    </div>
    {%endfor%} -->

              <table style=" border-collapse: collapse;padding: 15px;text-align: left;width:100%">
                <tr>
                  <th><h2>Nombre</h2></th>
                  <th><h2>Descripción</h2></th>
                  <th></th> 
                  <th></th>
                </tr>

                {%for project in invite%}
              
                <tr style="background-color: rgb(104, 129, 158)">
                  <th style=" padding: 15px">{{project.name}}  </th>
                  <th>{{project.description}}</th>
                  
                  <th><button class="btn btn-info js-tooltip" type="submit" onclick="location.href='/newProjectUser/{{project.id}}/{{user.id}}'">Aceptar</button> </th> 
                  <th> <button class="btn btn-danger js-tooltip" type="submit" onclick="location.href='/deleteProject/{{project.id}}'">Rechazar</button></th>
                  <th><h4 style="color: rgb(255, 255, 255);">Invitación!</h4></th>
                </tr>


              {%endfor%}
              {%for project in project_list%}
              
                <tr >
                  <th style=" padding: 15px">{{project.name}}  </th>
                  <th>{{project.description}}</th>
                  <th><button class="btn btn-outline-primary js-tooltip" type="submit" onclick="location.href='{{ project.get_absolute_url }}'">Abrir</button> </th> 
                  <th> <button class="btn btn-outline-danger js-tooltip" type="submit" onclick="location.href='/deleteProject/{{project.id}}'">Eliminar</button></th>
                </tr>


              {%endfor%}
              </table>

    </ul>
    
  </div>


</div>
{% endblock %}



<!---->