{% extends "generica.html" %}
{% block content %}
<style>
#custom-button-container {
    position: absolute;
    bottom: 365px;
    right: 12px;
    z-index: 1000;
}

.custom-big-image-button {
    font-size: 20px; /* Cambia el tamaño del texto (ícono) */
    border-radius: 5px; /* Agrega esquinas redondeadas */
}
.custom-big-image-button:hover {
    cursor: pointer;
}
/* @media print {
  
  body {
    margin: 0;
    padding: 0;
    background: none;
  }
} */
.leaflet-control-measure .results .group:first-child {
    
    height: 0;
    color: rgb(0,0,0,0);
}

.lastpoint .heading{
    color: rgb(0,0,0,0);
    margin-top: 100px;
}
#custom-button-container2 {
    position: absolute;
    bottom: 400px;
    right: 12px;
    z-index: 1000;
}

#custom-button {
    display: block;
    width: 30px;
    height: 30px; /* Agrega la ruta de tu icono personalizado */
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid #ddd;
    color: #4d4d4d;
}

#custom-button:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
.has-overflow {
    /* Aplica los estilos que desees para el contenedor con overflow aquí */
    /* Cambia el color de fondo */
    pointer-events: auto;
}

#colorPicker:hover {
    cursor: pointer;
}

.titulo-y-botones {
    display: flex;
    align-items: center;
    width: 100%;
}
.elemento {
    pointer-events: auto;
}
.botones-opciones {
    display: flex;
    position: absolute;
    right: 2%;
}

.btn-opcion {
    display: inline-block;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    /* transition: background-color 0.3s, color 0.3s; */
}

.btn-opcion2 {
    display: inline-block;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    /* transition: background-color 0.3s, color 0.3s; */
}
.btn-opcion2:hover {
    color: #f5b01b;
}

.btn-opcion:hover {
    color: #f5b01b;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-contenido {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 60%;
}

.cerrar {
  color: #aaaaaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.boton-cerrar {
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-enviar {
  padding: 8px 16px;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
</style>
<div style="padding-left: 2%;padding-right: 1%;width: 100%;height: 100%;">  
<script type="text/javascript">
    var geojson_list = {{ geojson_list|safe }};
    $(document).ready(function() {
         
        var abrirModal = document.getElementById('abrirModal');
        var modal = document.getElementById('miModal');
        var cerrarModal = document.getElementById('cerrarModal');
        var cerrarModal2 = document.getElementById('cerrarModal2');
        var contenedor = document.getElementById('menuPrincipal');
        // var imprimir = document.getElementById('imprimir');

        // imprimir.addEventListener('click', function(event) {
        //     capturarImagen();
        // });
        
        contenedor.addEventListener('mouseenter', () => {
            map.dragging.enable(); // Desactiva la interacción de arrastre del mapa
            map.scrollWheelZoom.enable(); // Desactiva el zoom con la rueda del ratón
        });

        abrirModal.addEventListener('click', function() {
            modal.style.display = 'block';
        });

        cerrarModal.addEventListener('click', function() {
            modal.style.display = 'none';
        });

        cerrarModal2.addEventListener('click', function() {
            modal.style.display = 'none';
        });

        window.addEventListener('click', function(event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
        });

        var i = "{{projectSlide.slide.path}}";
        var h = "{{projectSlide.slide.zoomI}}";
        var j = "{{projectSlide.slide.zoomM}}";


        //var datosGeoJSON = JSON.parse('{% autoescape off %}{{ notes.geojson_data|escapejs }}{% endautoescape %}');

        //window.alert(datosGeoJSON);

        var imageBounds = L.latLngBounds(
        L.latLng(-62, -115),  // Coordenadas del borde inferior izquierdo
        L.latLng(62, 115)   // Coordenadas del borde superior derecho
        );
        
        var slide_url_format = "/media/slides/"+i+"/{z}/{y}/{x}.jpg";
        
        var map = L.map('map', {
            center: [0,0],
            zoom: h,
            animate: true,
            fullscreenControl: true,
            fullscreenControlOptions: {
                position: 'bottomright'
            }
        });

        var customZoomControl = L.control.zoom({
            position: 'bottomright'
        }).addTo(map);

        
        // Después de agregar el control de zoom personalizado,
        // puedes eliminar el control de zoom por defecto.
        map.removeControl(map.zoomControl);

        var layer =  L.tileLayer(slide_url_format, {
            minZoom:0,
            noWrap: true,
            keepBuffer:8,
            maxZoom:j
        }).addTo(map);

        map.attributionControl.setPrefix(false);
        var miniMap = new L.Control.MiniMap(
                    L.tileLayer(slide_url_format),
                    { position: 'bottomleft', toggleDisplay: true },
                    { toggleDisplay: true }
                );

                // Agrega el minimapa al mapa principal
        miniMap.addTo(map);
        
        L.control.bigImage({
            position: 'bottomright',
            title: 'Obtener imagen',
            printControlLabel:'📷',
            printControlClasses: ['custom-big-image-button'],
            minScale:1,
            maxScale:1,
            inputTitle:'Escala de foto',

            downloadTitle:'Descargar',
        }).addTo(map);
        // });
        

        L.control.fullscreen({
            position: 'topright',  // Posición del botón (topright, topleft, bottomright, bottomleft)
            title: 'Pantalla completa',  // Texto que aparecerá cuando el usuario pase el cursor sobre el botón
            titleCancel: 'Salir de pantalla completa',  // Texto para salir de pantalla completa
            forceSeparateButton: true  // Mostrar un botón separado para salir de pantalla completa
        }).addTo(map);

// printPlugin.printMap('A4Portrait', 'MyFileName');
        i18next.init({
            lng: 'es', // Idioma de localización
            resources: {
                es: {
                    translation: {
                        version: 'Versión', // Ejemplo de traducción
                        lastpoint:  '',
                        // ... Más traducciones aquí
                        
                    }
                }
            }
        });

        
        L.control.measure({
            primaryLengthUnit: 'meters', // Unidad de medida principal
            secondaryLengthUnit: 'kilometers', // Unidad de medida secundaria
            primaryAreaUnit: 'sqmeters', // Unidad de área principal
            secondaryAreaUnit: undefined, // Deja esto como undefined para deshabilitar el cálculo de áreas
            // Posición del control en el mapa
            activeColor: '#db4a29', // Color activo para las líneas y áreas medidas
            completedColor: '#9b2d14', // Color completado para las líneas y áreas medidas
            position: 'bottomright',
            localization: 'es', 
            className: 'custom-measure-control' 
        }).addTo(map);

        var pos = map.getBounds();

        var pos11,ps12,pos21,pos22
 
        var popup = L.popup();    
        function onMapClick(e) {
        popup
            .openOn(map);
        
        }   
        var expandBtn = document.getElementById('botonDesplegar');
        var notasMenu = document.getElementById('notasMenu');
        let isSelected = false;
        console.log(geojson_list[0]);
        for (var i = 0; i < geojson_list.length; i++) {
            var geojson = JSON.parse(geojson_list[i].geojson);
            console.log(geojson);
            L.geoJSON(geojson, {
                style: function (feature) {
                    return { color: feature.properties.color };
                },
                pointToLayer: function (feature, latlng) {
                    
                    if (feature.geometry.type === "Point" && feature.properties.radius) {
                        if (feature.properties.radius < 0){
                            return L.circleMarker(latlng);  
                        }else{
                            return L.circle(latlng, feature.properties.radius, { color: feature.properties.color });
                        // Crear un circle marker si la característica es un circle marker
                        }
                    } else if (feature.geometry.type === "Point") {
                        // Crear un marcador estándar si la característica es un punto
                        return L.marker(latlng);
                    }
                    return L.layerGroup();
                }
            }).bindTooltip(function (layer) {
                    return layer.feature.properties.tooltipMessage;
                }).bindPopup(function (layer) {
                    return layer.feature.properties.clickMessage;
                }).addTo(map);
        }

        expandBtn.addEventListener('click', function () {
            isSelected = !isSelected;
            if (isSelected) {
                expandBtn.textContent = 'expand_more';
            } else {
                expandBtn.textContent = 'expand_less';
            }
            if (notasMenu.style.display === 'none') {
                notasMenu.style.display = 'block';
            } else {
                notasMenu.style.display = 'none';
            }
        });
        if (notasMenu.scrollHeight > notasMenu.clientHeight) {
            notasMenu.classList.add('has-overflow');
        }
        //var geojsonLayer = L.geoJSON(datosGeoJSON).addTo(map);

        $('#MyButton').click(function(e){
           // map.fitBounds(pos);
            pos11 = parseFloat("{{notes.xUnoPos}}".replace(',', '.'));
            pos12 = parseFloat("{{notes.yUnoPos}}".replace(',', '.'));
            pos21 = parseFloat("{{notes.xDosPos}}".replace(',', '.'));
            pos22 = parseFloat("{{notes.yDosPos}}".replace(',', '.'));
            map.fitBounds([
                [pos11, pos12],
                [pos21, pos22]
            ]);
        });

        // L.control.fullscreen({
        //     position: 'topleft', // change the position of the button can be topleft, topright, bottomright or bottomleft, default topleft
        //     title: 'Show me the fullscreen !', // change the title of the button, default Full Screen
        //     titleCancel: 'Exit fullscreen mode', // change the title of the button when fullscreen is on, default Exit Full Screen
        //     content: null, // change the content of the button, can be HTML, default null
        //     forceSeparateButton: true, // force separate button to detach from zoom buttons, default false
        //     forcePseudoFullscreen: true, // force use of pseudo full screen even if full screen API is available, default false
        //     fullscreenElement: false // Dom element to render in full screen, false by default, fallback to map._container
        // }).addTo(map);

        // // events are fired when entering or exiting fullscreen.
        // map.on('enterFullscreen', function(){
        //     console.log('entered fullscreen');
        // });

        // map.on('exitFullscreen', function(){
        //     console.log('exited fullscreen');
        // });

        // you can also toggle fullscreen from map object
        // map.toggleFullscreen();

        map.on('zoomstart', function () {
            map.setMaxBounds(null);
        });

        // Restablecer los límites cuando finaliza el zoom
        map.on('zoomend', function () {
            map.setMaxBounds(imageBounds);
        });
    });  
    
</script>

<div id="map" style="position: absolute;background-color:rgb(0, 0, 0);left: 2%;top:8%;z-index:0;width:96%;height: 90%">

    
</div> 
<div id="menuPrincipal"style = "pointer-events: none;position: absolute; left: 2%;top: 7%;z-index:1; width:22%; height: 93%;">
    <!-- <button class="btn btn-primary js-tooltip" onclick="w3_open()"></button> -->
 
<!-- <div style="position: relative; float: left;left: 2%; top:2%;width: 96%">
    <div style="padding: 1%;box-shadow: 1px 1px 3px rgb(100, 99, 99); z-index:1;border-radius:10px 10px 0 0;background-color:rgb(255, 255, 255);width: 100%">
        <h3 style="text-align: center;">Anotaciones</h3> 
        
    </div>
</div>
<div style="float:left;height:3%;width:100%"></div> -->
<div style="position: relative; float: left;top:2%;left: 2%; width: 96%">
    <div class="elemento" style="padding-top: 2%; border-radius:10px ;z-index:1;background-color:rgba(51, 51, 51, 0.8);width: 100%">
        
     
        
        
            <div class="titulo-y-botones">
                <h4 style="text-align: center;color: #fff;width: 80%;">{{projectSlide.name}}</h4> 
                <div class="botones-opciones">
                    <a href="#" id="abrirModal" class="btn-opcion2 notaNueva"><i class="material-icons">note_add</i></a>
                    <a href="#"  class="btn-opcion2"><i id="botonDesplegar" class="material-icons">expand_less</i></a>
                </div>
            </div> 
                   
               
    </div>
</div>

<div id="miModal" class="modal elemento">
    <div class="modal-contenido">
    <span class="cerrar" id="cerrarModal">&times;</span>
    <h2>Nueva Nota</h2>
    <form method="POST" > 
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Otros campos de formulario... -->
            <div style="position: relative; left: 2%;" class="botones">
                <button type="submit" class="boton-enviar btn-primary">crear</button>
                <button type="button" class="boton-cerrar btn-danger " id="cerrarModal2">Cancelar</button>
            </div>
    </form>
    </div>
</div>

<div id="notasMenu" style="position: relative;top:2%; overflow-y: scroll;height: 85%; width: 100%;">
    
      {%load static%} 
      {%for note in apuntes%}
    <div style="float:left;height:1%;width:100%"></div>
    <div style="padding: 1%;position: relative; float: left;left: 2%; width: 90%">
    <div class="elemento" style="padding: 2%;box-shadow: 1px 1px 3px rgb(100, 99, 99); z-index:1;border-radius:10px;background-color:rgba(255, 255, 255, 0.733);width: 100%">
    
    <div class="titulo-y-botones">
        <h4 style="width: 80%;">{{note.name}}</h4> 
        
        <div class="botones-opciones">
            {%if note.show%}
            <a href="/showNote/{{note.id}}/{{note.project.id}}" class="btn-opcion ver"><i class="material-icons">visibility</i></a>
            {%else%}
            <a href="/showNote/{{note.id}}/{{note.project.id}}" class="btn-opcion ver"><i class="material-icons">visibility_off</i></a>
            {%endif%}
            <a href="{{ note.get_absolute_url }}" class="btn-opcion editar"><i class="material-icons">edit</i></a>
            <a href="/delete/{{note.id}}" class="btn-opcion borrar"><i class="material-icons">delete</i></a>
        </div>
    </div> 

    
        </div>
    </div>
    
        {%endfor%}
        {%for note in apuntesHidden%}
        <div style="float:left;height:1%;width:100%"></div>
        <div style="padding: 1%;position: relative; float: left;left: 2%; width: 90%">
        <div class="elemento" style="padding: 2%;box-shadow: 1px 1px 3px rgb(100, 99, 99); z-index:1;border-radius:10px;background-color:rgba(255, 255, 255, 0.342);width: 100%">
        
        <div class="titulo-y-botones">
            <h4 style="color:rgba(0, 0, 0, 0.342);width: 80%;">{{note.name}}</h4>  
            
            <div class="botones-opciones">
                {%if note.show%}
                <a href="/showNote/{{note.id}}/{{note.project.id}}" class="btn-opcion ver"><i class="material-icons">visibility</i></a>
                {%else%}
                <a href="/showNote/{{note.id}}/{{note.project.id}}" class="btn-opcion ver"><i class="material-icons">visibility_off</i></a>
                {%endif%}
                <a href="{{ note.get_absolute_url }}" class="btn-opcion editar"><i class="material-icons">edit</i></a>
                <a href="/delete/{{note.id}}" class="btn-opcion borrar"><i class="material-icons">delete</i></a>
            </div>
        </div> 
    
            </div>
        </div>
        
            {%endfor%}
    </div>
    
    
</div>
<div style = "position: absolute; right: 5%;top:9%;padding: 0%;border-radius:10px; background-color:rgba(221, 220, 220, 0.8);width:10%">
    <button style=" width: 100%;" class="btn btn-outline-dark  btn-block js-tooltip" type="submit" onclick="location.href='{{ projectSlide.project.get_absolute_url }}'">Retroceder</button>
</div>
<!-- <button id="colorPickerBtn">Elegir color</button>
<div id="colorPickerMenu" style="display: none;">
    <input type="color" id="colorPicker" value="#3388ff">
  </div> -->
<!-- <div style="position: absolute;padding:1%; bottom:3%; right: 3%; z-index:2;padding: 1%;box-shadow: 1px 1px 10px rgb(100, 99, 99);border-radius:30px;background: rgb(255, 255, 255);width: 20%;height: 35%">
    <h3 style="font-family: Georgia;color: rgb(0, 0, 0);text-align: center;">{{notes.name}}:</h3>  
<div style="margin-left: 1%; border-radius:10px;background: rgb(238, 238, 238);padding:1%; overflow-y: scroll;position: relative;float: left; width: 98%;height: 83%">

<h4 style="font-family: Georgia;color: rgb(0, 0, 0);text-align: center;">{{notes.description}}</h4>
</div> 
<div style="width: 100%;height: 5%;"></div>

    
</div> -->

<!-- <div style="right: 2%;padding-left: 2.5% ;z-index:2; padding-top: 0.7% ;padding-right: 1% ;position: absolute;float: left;width: 20%;">   
    <button class="btn btn-outline-dark btn-block js-tooltip" onclick="location.href='{{ notes.projectSlide.get_absolute_url }}'" type="submit">Pantalla completa</button>
     
    <input id="MyButton" class="btn btn-outline-dark btn-block js-tooltip" type="button" value="Ir al cuadro" >            
    <button class="btn btn-outline-dark btn-block js-tooltip" onclick="location.href='{{ notes.projectSlide.get_absolute_url }}'" type="submit">Nueva nota</button>
    
</div>    -->
<!-- <div id="map" style="float: left;position: relative;background-color:rgb(0, 0, 0);left: 0%;top:2%;width:96%;height: 90%"></div>    -->


  
<!-- <button style="position: relative;top: 10%;left: 30%;" class="btn btn-primary js-tooltip" type="submit" onclick="location.href='{% url 'Catalogo' %}'">Retroceder</button>
 
<input id="MyButton" style="position: relative;top: 10%;left: 30%;" class="btn btn-primary js-tooltip" type="button" value="SET" onclick="onMap();">
     -->
    </div>
{% endblock %}


