<!-- se extiende la plantilla genérica-->
{% extends "generica.html" %}
{% block content %}

<style>

    .menu {
  position: relative;
  display: inline-block;
}

.menu-btn {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 8px 12px;
  cursor: pointer;
}

.menu-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

.menu-list li a:hover {
  background-color: #ddd;
}

.menu:hover .menu-list {
  display: block;
}
#map.custom-cursor {
    cursor: crosshair; /* Estilo de cursor personalizado */
}

</style>
<div style="padding-left: 2%;padding-right: 1%;width: 100%;height: 100%;">  
<script type="text/javascript">
        
    $(document).ready(function() {
        
        var project = "{{ project.id }}";
        optionMenu = "{{optionNum}}";
        var ver = 0;
        var cat = 1;
        // document.getElementById("slide").value = 1; 
        function actualizarDatos(url,option) {

            
            $.ajax({
            
                url: url , // Ruta configurada en urls.py
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var listaActualizada = generarHTMLLista(data,option);
                    $('#datos_actualizados').html(listaActualizada);
                    
                },
                error: function (error) {
                    alert(' error');
                    console.log(error);
                }
            });
        
        }
        function generarHTMLLista(data,option) {
            html='';
            switch(option) {
            case 'placas':
                for (var i = 0; i < data.name.length; i++) {
                    html += '<div style="position: relative; float: left;left: 2%; width: 96%">'+
                                '<div style="padding: 2%; box-shadow: 1px 1px 3px rgb(100, 99, 99);border-radius:10px;background-color:rgb(255, 255, 255);width: 100%">'+
                                '<h3 style="text-align: center;">'+data.name[i]+'</h3>'+
                                '<button style="width:100%"class="btn btn-outline-info js-tooltip" type="submit" onclick="location.href='+"'/projectDetail/{{project.id}}/1/"+data.id[i]+"'"+'"">Ver</button>\n'+
                                // '<button class="btn btn-outline-info js-tooltip" type="submit"  onclick="location.href='+"'/projectSlideDetail/"+data.id[i]+"'"+'"">Detalles</button>\n'+
                                // '<button class="btn btn-outline-danger js-tooltip" type="submit"  onclick="location.href='+"'/projectDetail/23/"+data.id[i]+"'"+'"">Eliminar</button>'+
                                '</div>'+
                                '</div>'+
                                '<div style="float:left;height:1%;width:100%"></div>';
                    
                }
                break;
            case 'catalogo':
                for (var i = 0; i < data.name.length; i++) {
                    html += '<div style="position: relative; left: 2%;float: left;padding: 2%; box-shadow: 1px 1px 3px rgb(100, 99, 99);border-radius:10px;background-color:rgb(255, 255, 255);width: 96%">'+
                                    '<h3 style="text-align: center;">'+data.name[i]+'</h3>'+
                                    '<div style="width: 50%;position: relative; float: left;left: 2%;">' +
                                        '<img src="'+data.image[i]+'" style="box-shadow: 1px 1px 10px rgb(100, 99, 99);width: 100%;border-radius:10px">'+ 
                                    '</div >' +
                                        '<div style="padding: 2%;width: 40%;overflow-y: scroll;position: absolute;height:60%;right:5%;">' +
                                            '<h5 style="ptext-align: center">'+data.description[i]+'</h5>'+
                                        '</div >' +
                                        '<button style="position: absolute;right:5%;bottom:2%;width: 40%;"class="btn btn-outline-info js-tooltip" type="submit" onclick="location.href='+"'/projectDetail/{{project.id}}/2/"+data.id[i]+"'"+'"">Ver</button>'+
                                       
                                     
                                   '</div >' +
                                // '<button class="btn btn-outline-info js-tooltip" type="submit"  onclick="location.href='+"'/projectSlideDetail/"+data.id[i]+"'"+'"">Detalles</button>\n'+
                                // '<button class="btn btn-outline-danger js-tooltip" type="submit"  onclick="location.href='+"'/projectDetail/23/"+data.id[i]+"'"+'"">Eliminar</button>'+
                                '</div>'+
                                '<div style="float:left;height:1%;width:100%"></div>';                    
                }
                break;
            default:
                html += '<div style="height:50%">';
                if (data.nameS){
                    for (var i = 0; i < data.nameS.length; i++) {
                        html += '<div style="position: relative; float: left;left: 2%; width: 96%">'+
                                    '<div style="padding: 2%; box-shadow: 1px 1px 3px rgb(100, 99, 99);border-radius:10px;background-color:rgb(255, 255, 255);width: 100%">'+
                                    '<h3 style="text-align: center;">'+data.nameS[i]+'</h3>'+
                                    '<button style="width:100%" class="btn btn-outline-info js-tooltip" type="submit" onclick="location.href='+"'/newProjectUser/{{project.id}}/"+data.idS[i]+"'"+'"">Añadir como colaborador</button>\n'+
                                    // '<button class="btn btn-outline-info js-tooltip" type="submit"  onclick="location.href='+"'/projectSlideDetail/"+data.id[i]+"'"+'"">Detalles</button>\n'+
                                    // '<button class="btn btn-outline-danger js-tooltip" type="submit"  onclick="location.href='+"'/projectDetail/23/"+data.id[i]+"'"+'"">Eliminar</button>'+
                                    '</div>'+
                                    '</div>'+
                                    '<div style="float:left;height:1%;width:100%"></div>';
                        
                    }   
                } 
                html +='</div>'+
                '<div style="text-align: center;position: relative;height:5%"><h4>Lista de colaboradores</h4></div>'+
                '<div style="height:2%;width:100%"></div>'+
                '<div style=" overflow-y: scroll;height:43%">'+'<div style="position: relative; float: left;left: 2%; width: 96%">'+
                '<div style="padding: 2%; box-shadow: 1px 1px 3px rgb(100, 99, 99);border-radius:10px;background-color:rgb(255, 255, 255);width: 100%">'+
                '<h3 style="text-align: center;">'+data.ownerN+'</h3>'+
                '<table style="padding: 15px;text-align: right;width:100%">'+
                '</table>'+
                '</div>'+
                '</div>'+
                '<div style="float:left;height:2%;width:100%"></div>';
                for (var i = 0; i < data.name.length; i++) {
                    if(data.id[i]!=data.ownerID){
                            html += '<div style="position: relative; float: left;left: 2%; width: 96%">'+
                                '<div style="padding: 2%; box-shadow: 1px 1px 3px rgb(100, 99, 99);border-radius:10px;background-color:rgb(255, 255, 255);width: 100%">'+
                                '<h3 style="text-align: center;">'+data.name[i]+'</h3>'+
                                '<table style="padding: 15px;text-align: right;width:100%">'+
                                '<tr>'+
                                '<td "></td>';
                                
                                    html += '<td><button style="position: relative;right:1%" class="btn btn-outline-danger js-tooltip" type="submit" onclick="location.href='+"'/deleteProjectUser/{{project.id}}/"+data.id[i]+"'"+'"">Eliminar colaborador</button></td>';
                                
                                html += '</tr>'+
                                '</table>'+
                                '</div>'+
                                '</div>'+
                                '<div style="float:left;height:2%;width:100%"></div>';
                    }
                }
                html += '</div>';
            } 
            
            return html;
        }
        
        // Agrega el evento para actualizar los datos al hacer clic en el botón
        $('#placas_btn').on('click', function() {
            //document.getElementById("make").value = true; 
            optionMenu = 1;
            
            actualizarDatos('/datos_actualizados_placas/'+project+'/_','placas');

        });
        $('#catalogo_btn').on('click', function() {
            //document.getElementById("make").value = true; 
            optionMenu = 2;
            actualizarDatos('/datos_actualizados_catalogo/'+project+'/_','catalogo');

        });
        $('#colaboradores_btn').on('click', function() {
            //document.getElementById("make").value = true; 
            optionMenu = 3;
            actualizarDatos('/datos_actualizados_colaboradores/'+project+'/_','colaboradores');

        });
        $('#btn_buscar').on('click', function() {
            if(optionMenu<2){
                buscarInfo= document.getElementById("buscarDato").value;
                
                document.getElementById("buscarDato").value = '';
                actualizarDatos('/datos_actualizados_placas/'+project+'/'+buscarInfo,'placas');
            }
            if(optionMenu==2){
                
                buscarInfo= document.getElementById("buscarDato").value;
                document.getElementById("buscarDato").value = '';
                actualizarDatos('/datos_actualizados_catalogo/'+project+'/'+buscarInfo,'catalogo');
            }
            if(optionMenu==3){
                buscarInfo= document.getElementById("buscarDato").value;

                document.getElementById("buscarDato").value = '';
                actualizarDatos('/datos_actualizados_colaboradores/'+project+'/'+buscarInfo,'colaboradores');
            }
        });

        if("{{optionNum}}"==0){
            actualizarDatos('/datos_actualizados_placas/'+project+'/_','placas');
        }
        if("{{optionNum}}"==1){
            var i = "{{mapSlide.slide.path}}";
            var h = "{{mapSlide.slide.zoomI}}";
            var j = "{{mapSlide.slide.zoomM}}";
            actualizarDatos('/datos_actualizados_placas/'+project+'/_','placas');
        }
        if("{{optionNum}}"==2){
            var i = "{{mapSlide.path}}";
            var h = "{{mapSlide.zoomI}}";
            var j = "{{mapSlide.zoomM}}";
            actualizarDatos('/datos_actualizados_catalogo/'+project+'/_','catalogo');
        }
        if("{{optionNum}}"==3){
            
            actualizarDatos('/datos_actualizados_colaboradores/'+project+'/_','colaboradores');

        }
        var slide_url_format = "/media/slides/"+i+"/{z}/{y}/{x}.jpg";

       
        //window.alert(JSON.stringify(datosGeoJSON));
        var polygon = [null];
        var polyLine = [null];
        var polygonPoints = [];
        var polygonDraw  = false;
        var numPoly = 0;
        
        var imageBounds = L.latLngBounds(
        L.latLng(-62, -115),  // Coordenadas del borde inferior izquierdo
        L.latLng(62, 115)   // Coordenadas del borde superior derecho
        );

        var map = L.map('map', {
            center: [0,0],
            zoom: h,
            animate: true
        });

        var layer =  L.tileLayer(slide_url_format, {
            minZoom:2,
            noWrap: true,
            keepBuffer:8,
            maxZoom:j
        }).addTo(map);

        //var capaGeoJSON = L.geoJSON(datosGeoJSON).addTo(map);
        
        var pos = map.getBounds();
        var pos2 = pos.getNorthWest();
        var pos11 = pos2.lat;
        var pos12 = pos2.lng;
        var pos3 = pos.getSouthEast()
        var pos21 = pos3.lat;
        var pos22 = pos3.lng;
        var popup = L.popup();  
    
        
        var mapContainer = map.getContainer();
        mapContainer.addEventListener('mouseenter', function() {
            if(polygonDraw){
                mapContainer.classList.add('custom-cursor');
            }
        });
        mapContainer.addEventListener('mouseleave', function() {
            if(polygonDraw){
                mapContainer.classList.remove('custom-cursor');
            }
        });


            

        map.on('zoomstart', function () {
            map.setMaxBounds(null);
        });

        // Restablecer los límites cuando finaliza el zoom
        map.on('zoomend', function () {
            map.setMaxBounds(imageBounds);
        });
    }
    );  
    function opcionClick(opcion) {
        var menuBtn = document.getElementById('menuBt');
        menuBtn.textContent = opcion;
    }
</script>
<div style = "float: right;right: 0%; width:25%;height: 100%;">
   
    <!-- <button class="btn btn-primary js-tooltip" onclick="w3_open()"></button> -->
    <div style="top:1%;position: relative;height: 7%; padding: 2%;">   
        <div  class="menu" style="z-index:1;width: 100%">
            <button id = "menuBt" class="btn btn-outline-dark js-tooltip menu-btn" style="width: 100%;">Placas Virtuales</button>
            <ul id="menuList" class="menu-list">
              <li><a href="#" id= 'placas_btn' onclick="opcionClick('Placas Virtuales')">Placas Virtuales</a></li>
              <li><a href="#" id= 'catalogo_btn' onclick="opcionClick('Catalogo')">Catalogo</a></li>
              <li><a href="#" id= 'colaboradores_btn' onclick="opcionClick('Colaboradores')">Colaboradores</a></li>
              <!-- Agrega más opciones de menú según tus necesidades -->
            </ul>
          </div>   
      <!-- <h3 style="text-align: center;">Placas:</h3> -->
    </div>
    <!-- <div id="datos_actualizados" style="box-shadow: 1px 1px 10px rgb(100, 99, 99);position: relative;left: 0%;top:2%;width:73%;height: 63%">
      
    </div>  -->
    <div style="top:1%;position: relative; float: left;left:2%;padding: 2%; box-shadow: 1px 1px 3px rgb(100, 99, 99);border-radius:10px;background-color:rgb(255, 255, 255);width: 96%">
                        
                                
        <div  style=" width:100%;float: left;">
            <input type="text" id ="buscarDato" class="form-control" placeholder="Buscar ..." name ="buscar" value="">
            <button class="btn btn-primary js-tooltip" id ="btn_buscar" type="submit" onclick="location.href='#'">Buscar</button>
        </div>
            
            
    </div>
    <div style="float:left;height:1%;width:100%"></div> 
<div id="datos_actualizados" style="position: relative; overflow-y: scroll;height: 69%; width: 100%;top:1%;">
    
    </div>
    <div style = "padding-top:5%;padding-right:15%;padding-left:15%; width:100%">
     <button style=" position: relative;" class="btn btn-outline-dark btn-block js-tooltip" type="submit" onclick="location.href='{% url 'project-list' %}'">Retroceder</button>
    </div>
</div>


    
        {%if mapSlide%}
        <div style="position: relative;background-color:rgba(0, 0, 0, 0);left: 0%;top:2%;width:73%;height: 68%">
            <div id="map" style="position: relative;box-shadow: 1px 1px 10px rgb(100, 99, 99);background-color:rgb(0, 0, 0);left: 0%;top:0%;width:100%;height: 100%"></div>   
        </div>     
        <div style="padding:1%; box-shadow: 1px 1px 10px rgb(100, 99, 99);border-radius:10px;background: rgb(255, 255, 255);position: relative;top: 5%;width: 73%;height: 24%">
            <!-- <h2>{{mapSlide.name}}</h2>
            <h3>{{mapSlide.description}}</h3> -->
            <form method="POST" >
                    
                <div style="padding: 1%;float: left;width: 80%;height: 100%;">
                    {% csrf_token %}
                    {%if optionNum == 1%}
                    <input id="slide" type="hidden" name="slide" value='{{mapSlide.slide.id}}'>
                    {%else%}
                    <input id="slide" type="hidden" name="slide" value='{{mapSlide.id}}'>
                    {%endif%}
                    {{ form.as_p }}
                <div style="width: 100%;padding-left: 5%;padding-bottom: 5%;"> 
                    <button class="btn btn-dark js-tooltip" type="submit">Guardar cambios</button>
                  </div>    
                </div>
         
        </form>
            <button class="btn btn-outline-info js-tooltip" type="submit" onclick="location.href='#'">Guardar cambios</button>
            <button class="btn btn-outline-info js-tooltip" type="submit" onclick="location.href='{{ mapSlide.get_absolute_url }}'">Detalles</button>
            <button class="btn btn-outline-danger js-tooltip" type="submit" onclick="location.href='/deleteProjectSlide/{{mapSlide.id}}'">Eliminar</button>
        </div>
        {%else%}
            <div  style="padding-left: 8%;padding-right: 8%;overflow-y: scroll;position: relative;box-shadow: 1px 1px 10px rgb(100, 99, 99);background-color:rgb(255, 254, 254);left: 0%;top:2%;width:73%;height: 92%">
                <div style="position:relative;top:3%;width: 100%;padding: 2%;">
                    <h1 style="text-align: center;">{{project.name}}</h1>
                </div>
                <div style="position:relative;top:2%;width: 100%;padding: 2%;">
                    <h2>Descripción</h2>
                </div>
                <div style="position:relative;top:2%;width: 100%;padding: 2%;">
                    <h3 style="text-align: center;">{{project.description}}</h3>
                </div>
                <div style="position:relative;top:2%;width: 100%;padding: 2%;">
                    <h2>Creador del porjecto</h2>
                </div>
                <div style="position:relative;width: 100%;padding: 2%;">
                    <h3 style="text-align: center;">Nombre: {{project.user.first_name}} {{project.user.last_name}}</h3>
                    <h4 style="text-align: center;">Usuario: {{project.user}}</h4>
                    <h4 style="text-align: center;">Correo: {{project.user.email}}</h4>
                </div>
                <div style="position:relative;float: left;width: 50%;padding: 2%;">
                    <h3 style="text-align: center;">Participantes: <a style="color:blue;"> {{numUser}} </a></h3>
                </div>
                <div style="position:relative;float: left;width: 50%;padding: 2%;">
                    <h3 style="text-align: center;">Placas Virtuales:<a style="color:blue;"> {{numPlacas}}</a> </h3>
                </div>
            </div>   
        {%endif%}
    
<!-- <button class="btn btn-outline-dark btn-block js-tooltip" id="actualizar_btn">Seleccionar placa virtual {{placaId}} </button>  -->
   
   

  
<!-- <button style="position: relative;top: 10%;left: 30%;" class="btn btn-primary js-tooltip" type="submit" onclick="location.href='{% url 'Catalogo' %}'">Retroceder</button>
 
<input id="MyButton" style="position: relative;top: 10%;left: 30%;" class="btn btn-primary js-tooltip" type="button" value="SET" onclick="onMap();">
     -->
    </div>

{% endblock %}


