<!-- se extiende la plantilla genérica-->
{% extends "generica.html" %}
{% block content %}
<div style="padding-left: 2%;padding-right: 1%;width: 100%;height: 100%;">  
<script type="text/javascript">

    $(document).ready(function() {
        
        var i = "{{project.projectSlide.slide.path}}";
        var h = "{{project.projectSlide.slide.zoomI}}";
        var j = "{{project.projectSlide.slide.zoomM}}";
        var slide_url_format = "/media/slides/"+i+"/{z}/{y}/{x}.jpg";

       
        //window.alert(JSON.stringify(datosGeoJSON));
        var polygon = [null];
        var polyLine = [null];
        var polygonPoints = [];
        var polygonDraw  = false;
        var numPoly = 0;
        
        var imageBounds = L.latLngBounds(
        L.latLng(-62, -115),  // Coordenadas del borde inferior izquierdo
        L.latLng(62, 115)   // Coordenadas del borde superior derecho
        );

        var map = L.map('map', {
            center: [0,0],
            zoom: h,
            animate: true
        });

        var layer =  L.tileLayer(slide_url_format, {
            minZoom:2,
            noWrap: true,
            keepBuffer:8,
            maxZoom:j
        }).addTo(map);

        //var capaGeoJSON = L.geoJSON(datosGeoJSON).addTo(map);
        
        var pos = map.getBounds();
        var pos2 = pos.getNorthWest();
        var pos11 = pos2.lat;
        var pos12 = pos2.lng;
        var pos3 = pos.getSouthEast()
        var pos21 = pos3.lat;
        var pos22 = pos3.lng;

        // document.getElementById("xUnoPos").value = parseFloat(pos11).toFixed( 4 ); 
        // document.getElementById("yUnoPos").value = parseFloat(pos12).toFixed( 4 ); 
        // document.getElementById("xDosPos").value = parseFloat(pos21).toFixed( 4 ); 
        // document.getElementById("yDosPos").value = parseFloat(pos22).toFixed( 4 ); 
        // document.getElementById("yDosPos").value = parseFloat(pos22).toFixed( 4 ); 
        // document.getElementById("geojson_data").value = JSON.stringify(datosGeoJSON); 

        var popup = L.popup();  
        
        function updatePolygon() {
            if (polygon[numPoly]) {
                map.removeLayer(polygon[numPoly]);
                
            }

            if (polyLine[numPoly]){
                map.removeLayer(polyLine[numPoly]);
            }
            
            if (polygonPoints.length > 2) {
                
                if(polygonDraw){
                    polyLine[numPoly] = L.polyline(polygonPoints, { color: 'Red' }).addTo(map);
                }else{
                    polygon[numPoly] = L.polygon(polygonPoints, { color: 'blue', fillOpacity: 0.2 }).addTo(map);
                    
                }
            }else{
                if (polygonPoints.length > 1 ) {
                    polygon[numPoly] = L.polyline(polygonPoints, { color: 'Red' }).addTo(map);
                }else{
                    if (polygonPoints.length > 0 ) {
                        polygon[numPoly] = L.circleMarker(polygonPoints[0], { color: 'red',fillOpacity: 0,radius: 2 }).addTo(map);
                    }
                }
            }
        }


        function onMapClick(e) {
            if(polygonDraw){
                polygonPoints.push([e.latlng.lat, e.latlng.lng]);
            }
            updatePolygon();
            // popup
            //     .openOn(map);
        
        } 
        
        var mapContainer = map.getContainer();
        mapContainer.addEventListener('mouseenter', function() {
            if(polygonDraw){
                mapContainer.classList.add('custom-cursor');
            }
        });
        mapContainer.addEventListener('mouseleave', function() {
            if(polygonDraw){
                mapContainer.classList.remove('custom-cursor');
            }
        });

        var myPolygon = document.getElementById("myPolygon");
        myPolygon.addEventListener("click", function() {
            myPolygon.classList.toggle("active");
        });
        
       
        map.on('click', onMapClick);
        $('#myPolygon').click(function(){
            polygonDraw = !polygonDraw ;
            if(polygonDraw){
              
                polygonPoints=[];
                polygon.push(null);
                polyLine.push(null);
                numPoly = numPoly +1;
            }
            //window.alert("datosGeoJSON");
            updatePolygon();
            
        });

        $('#MyButton').click(function(e){
            pos = map.getBounds();
            pos2 = pos.getNorthWest();
            pos11 = pos2.lat;
            pos12 = pos2.lng;
            pos3 = pos.getSouthEast()
            pos21 = pos3.lat;
            pos22 = pos3.lng;

            
            // Convertir el polígono en un objeto GeoJSON utilizando la función toGeoJSON()
            var datosGeoJSON = polygon[numPoly].toGeoJSON();
            if (!datosGeoJSON.hasOwnProperty('features')) {
                datosGeoJSON.features = [];
            }
            //window.alert(numPoly);
            for(var num = 1;num <= numPoly;num ++){
                //window.alert(polygon[numPoly]);
                poligonoGeoJSON = polygon[num].toGeoJSON();
                datosGeoJSON.features.push(poligonoGeoJSON);
            }
            //window.alert(datosGeoJSON);
            document.getElementById("xUnoPos").value = parseFloat(pos11).toFixed( 6 ); 
            document.getElementById("yUnoPos").value = parseFloat(pos12).toFixed( 6 ); 
            document.getElementById("xDosPos").value = parseFloat(pos21).toFixed( 6 ); 
            document.getElementById("yDosPos").value = parseFloat(pos22).toFixed( 6 ); 
            document.getElementById("geojson_data").value = JSON.stringify(datosGeoJSON); 
        });        
        

        map.on('zoomstart', function () {
            map.setMaxBounds(null);
        });

        // Restablecer los límites cuando finaliza el zoom
        map.on('zoomend', function () {
            map.setMaxBounds(imageBounds);
        });
    }
    );  
    
</script>
<div style = "float: right;right: 0%; width:25%;height: 100%;">
    <!-- <button class="btn btn-primary js-tooltip" onclick="w3_open()"></button> -->
    <div style="position: relative;height: 7%; padding: 2%; width: 100%;">      
      <h3 style="text-align: center;">Placas:</h3>
    </div>
<div style="position: relative; overflow-y: scroll;height: 75%; width: 100%;">
      {%load static%} 
      {%for plate in plates%}
      
      <div style="position: relative; float: left;left: 2%; width: 96%">
      <div style="padding: 2%; box-shadow: 1px 1px 3px rgb(100, 99, 99);border-radius:10px;background-color:rgb(255, 255, 255);width: 100%">
        <h3 style="text-align: center;">{{plate.name}}</h3> 
      </li>
      <button class="btn btn-outline-info js-tooltip" type="submit" onclick="location.href='{{ note.get_absolute_url }}'">Ver</button>
      <button class="btn btn-outline-danger js-tooltip" type="submit" onclick="location.href='/delete/{{note.id}}'">Eliminar</button>
          
        </div>
    </div>
    <div style="float:left;height:1%;width:100%"></div>
        {%endfor%}
    </div>
    <div style = "padding-top:5%;padding-right:15%;padding-left:15%; width:100%">
     <button style=" position: relative;" class="btn btn-outline-dark btn-block js-tooltip" type="submit" onclick="location.href='{% url 'project-list' %}'">Retroceder</button>
    </div>
</div>
<div id="map" style="box-shadow: 1px 1px 10px rgb(100, 99, 99);position: relative;background-color:rgb(0, 0, 0);left: 0%;top:2%;width:73%;height: 63%"></div>   

<div style="padding:1%; box-shadow: 1px 1px 10px rgb(100, 99, 99);border-radius:10px;background: rgb(255, 255, 255);position: relative;top: 5%;width: 73%;height: 24%">
      
                <form method="POST" >
                    <div style="padding: 1%;float: left;width: 80%;height: 100%;">
                    <table>
                        {{ form.as_table}}
                        <input id="xUnoPos" type="hidden" name="xUnoPos" value=1.0>
                        <input id="yUnoPos" type="hidden" name="yUnoPos" value=1.0>
                        <input id="xDosPos" type="hidden" name="xDosPos" value=1.0>
                        <input id="yDosPos" type="hidden" name="yDosPos" value=1.0>
                        <input id="geojson_data" type="hidden" name="geojson_data" value="">
                        {% csrf_token %}
                    </table>
                    </div>
               <div style="float: left;position: relative; padding: 1.5%;width: 20%;height: 100%;"> 
                <button class="btn btn-outline-dark btn-block js-tooltip" type="submit">Pantalla Completa</button> 
                <input id="MyButton" class="btn btn-outline-dark btn-block js-tooltip" type="button" value="Guardar posición" >     
                <input id="myPolygon"  class="bbtn btn-outline-dark btn-block js-tooltip" type="button" value="Dibujar Poligono" >    
                <button class="btn btn-outline-dark btn-block js-tooltip" type="submit">Crear</button>
                
            </div>
            </form>
           
</div>
  
<!-- <button style="position: relative;top: 10%;left: 30%;" class="btn btn-primary js-tooltip" type="submit" onclick="location.href='{% url 'Catalogo' %}'">Retroceder</button>
 
<input id="MyButton" style="position: relative;top: 10%;left: 30%;" class="btn btn-primary js-tooltip" type="button" value="SET" onclick="onMap();">
     -->
    </div>

    <style>

        #map.custom-cursor {
          cursor: crosshair; /* Estilo de cursor personalizado */
        }
      </style>
{% endblock %}

<!-- se extiende la plantilla genérica-->
{% extends "generica.html" %}
{% block content %}
<div style="padding-left: 2%;padding-right: 1%;width: 100%;height: 100%;">  
<script type="text/javascript">
    
    $(document).ready(function() {
        var ver = 0;
        var cat = 1;
        // document.getElementById("slide").value = 1; 
        


        // $('#toggleCatalogo').on('click', function() {
        //     //document.getElementById("make").value = true; 
        //     ver = !ver;
        //     actualizarDatos();

        // });

        var i = "{{projectSlide.slide.path}}";
        var h = "{{projectSlide.slide.zoomI}}";
        var j = "{{projectSlide.slide.zoomM}}";
        var slide_url_format = "/media/slides/"+i+"/{z}/{y}/{x}.jpg";

       
        //window.alert(JSON.stringify(datosGeoJSON));
        var polygon = [null];
        var polyLine = [null];
        var polygonPoints = [];
        var polygonDraw  = false;
        var numPoly = 0;
        
        var imageBounds = L.latLngBounds(
        L.latLng(-62, -115),  // Coordenadas del borde inferior izquierdo
        L.latLng(62, 115)   // Coordenadas del borde superior derecho
        );

        var map = L.map('map', {
            center: [0,0],
            zoom: h,
            animate: true
        });

        var layer =  L.tileLayer(slide_url_format, {
            minZoom:2,
            noWrap: true,
            keepBuffer:8,
            maxZoom:j
        }).addTo(map);

        //var capaGeoJSON = L.geoJSON(datosGeoJSON).addTo(map);
        
        var pos = map.getBounds();
        var pos2 = pos.getNorthWest();
        var pos11 = pos2.lat;
        var pos12 = pos2.lng;
        var pos3 = pos.getSouthEast()
        var pos21 = pos3.lat;
        var pos22 = pos3.lng;
        var popup = L.popup();  
    
        
        var mapContainer = map.getContainer();
        mapContainer.addEventListener('mouseenter', function() {
            if(polygonDraw){
                mapContainer.classList.add('custom-cursor');
            }
        });
        mapContainer.addEventListener('mouseleave', function() {
            if(polygonDraw){
                mapContainer.classList.remove('custom-cursor');
            }
        });


            

        map.on('zoomstart', function () {
            map.setMaxBounds(null);
        });

        // Restablecer los límites cuando finaliza el zoom
        map.on('zoomend', function () {
            map.setMaxBounds(imageBounds);
        });
    }
    );  
    
</script>
<div style = "float: right;right: 0%; width:25%;height: 100%;">
    <!-- <button class="btn btn-primary js-tooltip" onclick="w3_open()"></button> -->
    <div style="position: relative;height: 7%; padding: 2%; width: 100%;">      
      <h3 style="text-align: center;">Placas:</h3>
    </div>
    <!-- <div id="datos_actualizados" style="box-shadow: 1px 1px 10px rgb(100, 99, 99);position: relative;left: 0%;top:2%;width:73%;height: 63%">
      
    </div>  -->
<div style="position: relative; overflow-y: scroll;height: 75%; width: 100%;">
      {%load static%} 
      {%for plate in plates%}
      
      <div style="position: relative; float: left;left: 2%; width: 96%">
      <div style="padding: 2%; box-shadow: 1px 1px 3px rgb(100, 99, 99);border-radius:10px;background-color:rgb(255, 255, 255);width: 100%">
        <h3 style="text-align: center;">{{plate.name}}</h3> 
      </li>
      <button class="btn btn-outline-info js-tooltip" type="submit" onclick="location.href='{{ plate.get_absolute_url }}'">Ver</button>
      <button class="btn btn-outline-info js-tooltip" type="submit" onclick="location.href='{{ plate.get_absolute_url }}'">Detalles</button>
      <button class="btn btn-outline-danger js-tooltip" type="submit" onclick="location.href='/delete/{{note.id}}'">Eliminar</button>
          
        </div>
    </div>
    <div style="float:left;height:1%;width:100%"></div>
        {%endfor%}
    </div>
    <div style = "padding-top:5%;padding-right:15%;padding-left:15%; width:100%">
     <button style=" position: relative;" class="btn btn-outline-dark btn-block js-tooltip" type="submit" onclick="location.href='{% url 'project-list' %}'">Retroceder</button>
    </div>
</div>


        <div id="barra_actualizada" style="position: relative;top:2%;">

        </div>
        <div id="datos_actualizados" style="position: relative;background-color:rgba(0, 0, 0, 0);left: 0%;top:2%;width:73%;height: 68%">
            
          
         
            
        <div id="map" style="position: relative;box-shadow: 1px 1px 10px rgb(100, 99, 99);background-color:rgb(0, 0, 0);left: 0%;top:0%;width:100%;height: 100%"></div>   
  
        </div>   
<div style="padding:1%; box-shadow: 1px 1px 10px rgb(100, 99, 99);border-radius:10px;background: rgb(255, 255, 255);position: relative;top: 5%;width: 73%;height: 24%">
    <!-- <button class="btn btn-outline-dark btn-block js-tooltip" id="actualizar_btn">Seleccionar placa virtual {{placaId}} </button>  -->
<!--     
    <button id="actualizar_btn" class="btn btn-dark js-tooltip" >{{projectSlide.name}}</button> -->
    
     <button id="actualizar_btn" class="btn btn-dark js-tooltip" onclick="location.href='/projectDetail/{{projectSlide.project.id}}'">Seleccionar placa virtual</button>
    
    <!-- <button class="btn btn-success js-tooltip" id="toggleCatalogo">Catálogo</button> -->
                <form method="POST" >
                    
                    <div style="padding: 1%;float: left;width: 80%;height: 100%;">
                    <table>
                        
                        {{ form.as_table}}
                        <input id="slide" type="hidden" name="slide" value={{placaId}}>
   
                        <!-- <input id="slide" type="hidden" name="slide" value='{{slideSel}}'> -->
                        {% csrf_token %}
                        
                        
                         
                    </table>
                    <div style="width: 100%;padding-left: 5%;padding-bottom: 5%;"> 
                        <button class="btn btn-dark js-tooltip" type="submit">Crear proyecto</button>
                      </div>    
                    </div>
               <div style="float: left;position: relative; padding: 1.5%;width: 20%;height: 100%;"> 
                <button class="btn btn-outline-dark btn-block js-tooltip" type="submit">Pantalla Completa</button> 
                <input id="MyButton" class="btn btn-outline-dark btn-block js-tooltip" type="button" value="Guardar posición" >     
                <input id="myPolygon"  class="bbtn btn-outline-dark btn-block js-tooltip" type="button" value="Dibujar Poligono" >    
                <button class="btn btn-outline-dark btn-block js-tooltip" type="submit">Crear</button>
                <!-- <input id="slide" type="hidden" name="slide" value='{{make}}'> -->
            </div>
            </form>
            <form method="get" >  
          
                <div  style=" width: 80%;float: left;">
                  <input type="hidden" name="ver" value="true">
                </div>
                <span>
                 
                  
                </span>
              
            </form>
            
           
</div>
  
<!-- <button style="position: relative;top: 10%;left: 30%;" class="btn btn-primary js-tooltip" type="submit" onclick="location.href='{% url 'Catalogo' %}'">Retroceder</button>
 
<input id="MyButton" style="position: relative;top: 10%;left: 30%;" class="btn btn-primary js-tooltip" type="button" value="SET" onclick="onMap();">
     -->
    </div>

    <style>

        #map.custom-cursor {
          cursor: crosshair; /* Estilo de cursor personalizado */
        }
      </style>
{% endblock %}


